newDemo/my_image_classifier
newDemo/inference_graph
newDemo/data/
newDemo/serverData/
demo/inference_graph/
Project/__pycache__/*.pyc
*.pyc
Project/handcam/__pycache__/*.pyc
Project/handcam/static/collectedData/*
Project/env