<!DOCTYPE html>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>Ask your hands</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <style>
      .content {
        text-align: center;
      }
      .mfp-hide {
        display: none !important;
      }
      /* .button{
        padding: 10px 20px;
        border-color: white;
        font-size: 12px;
        font-size: 1.7rem;
        font-weight: : bold;
        margin-top: 40px;
        display: inline-block;
      } */
      .button .fa {
        margin-left: 20px;
      }

      .header {
        text-align: center;
        padding: 32px;
      }

      .row {
        display: -ms-flexbox; /* IE 10 */
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        -ms-flex-wrap: wrap; /* IE 10 */
        flex-wrap: wrap;
        padding: 0 4px;
      }

      /* Create two equal columns that sits next to each other */
      .column {
        -ms-flex: 50%; /* IE 10 */
        flex: 50%;
        padding: 0 6px;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
      }

      /* Style the buttons */
      .btn {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size: 18px;
      }

      .btn:hover {
        background-color: #ddd;
      }

      .btn.active {
        background-color: #666;
        color: white;
      }
    </style>
  </head>
  <body>
    <!-- Header -->
    <header id="header" class="alt">
      <div class="logo">
        <a href="index.html">Ask your Hands <span>CUbiC</span></a>
      </div>
      <a href="#menu" class="toggle"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="generic.html">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
    </nav>

    <!-- Banner -->
    <!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
    <section id="banner" data-video="images/vid1">
      <div class="inner">
        <h1>Ask your Hands</h1>
        <p>
          In early infancy, through our hands, we learn to understand and
          “see”<br />
          the world. Much of human activity requires and revolves around the
          use<br />
          of our hands. We have chosen to concentrate our efforts on
          designing<br />
          and implementing a device for aiding users with a common problem:<br />
          tracking a limited number of personal objects and monitoring
          activities.<br />
          We have implemented and tested a small unobtrusive wrist-worn
          device,<br />
          which records the movement of the wrist with an inertial sensor and
          creates a <br />
          wrist-centric video stream of the hand and fingers and their immediate
          environment.<br />
          <!-- A full responsive, business-oriented HTML5/CSS3 template<br />
          built by <a href="https://templated.co/">Templated</a> and released
          under the <a href="https://templated.co/license">Creative Commons</a>. -->
        </p>
        <a href="#one" class="button special scrolly">Get Started</a>
      </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2">
      <div class="inner">
        <div>
          <div class="box">
            <div class="image fit">
              <img src="images/2.png" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <h2>Track your data</h2>
                <p>Please upload your video and mark the timelines</p>
                <form
                  action="upload.php"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <input type="file" name="file" /><br /><br />
                  <input type="submit" value="Upload" />
                </form>
              </header>
              <!-- <form method="post" enctype="multipart/form-data">
                <table border="1" style="padding:10px">
                  <tr>
                    <td>Upload Video</td>
                  </tr>

                  <tr>
                    <td><input type="file" name="fileToUpload" /></td>
                  </tr>

                  <tr>
                    <td>
                      <input type="submit" value="Uplaod Video" name="upd" />

                      <input type="submit" value="Display Video" name="disp" />
                    </td>
                  </tr>
                </table>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <!-- Header -->
      <div class="header" id="myHeader">
        <h1>Image Grid</h1>
        <input type="submit" value="Display" />
        <p>Click on the buttons to change the grid view.</p>
        <button class="btn" onclick="one()">1</button>
        <button class="btn active" onclick="two()">2</button>
        <button class="btn" onclick="four()">4</button>
      </div>
      <!-- Photo Grid -->
      <div class="row">
        <div class="column">
          <div class="content">
            <h1>
              Amazing <br />
              Video popup
            </h1>
            <a href="#videostory" class="button more" id="videolink">
              Watch video
              <i class="fa fa-play-circle" aria-hidden="true"> &nbsp;</i>
            </a>
            <div
              id="videostory"
              class="mfp-hide"
              style="max-width: 75%;
            margin: 0 auto;"
            >
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/vqINz-W7k44"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Cable Top Center Drawer 1 on.JPG"
            style="width:100%"
          />

          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Charger Floor 1 on.JPG"
            style="width:100%"
          />
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Credit Card Door Table 1 on.JPG"
            style="width:100%"
          />
          <!-- <img src="/w3images/paris.jpg" style="width:100%" />
          <img src="/w3images/nature.jpg" style="width:100%" />
          <img src="/w3images/mist.jpg" style="width:100%" />
          <img src="/w3images/paris.jpg" style="width:100%" /> -->
        </div>
        <div class="column">
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Cable Top Center Drawer 2 on.JPG"
            style="width:100%"
          />
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Charger Floor 2 off.JPG"
            style="width:100%"
          />
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Credit Card Door Table 2 off.JPG"
            style="width:100%"
          />
          <!-- <img src="/w3images/mountainskies.jpg" style="width:100%" />
          <img src="/w3images/rocks.jpg" style="width:100%" />
          <img src="/w3images/underwater.jpg" style="width:100%" /> -->
        </div>
        <div class="column">
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Cable Top Center Drawer 3 off.JPG"
            style="width:100%"
          />
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Charger Floor 3 off.JPG"
            style="width:100%"
          />
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Credit Card Door Table 3 off.JPG"
            style="width:100%"
          />
          <!-- <img src="/w3images/paris.jpg" style="width:100%" />
          <img src="/w3images/nature.jpg" style="width:100%" />
          <img src="/w3images/mist.jpg" style="width:100%" />
          <img src="/w3images/paris.jpg" style="width:100%" /> -->
        </div>
        <div class="column">
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Cable Top Center Drawer 3 on.JPG"
            style="width:100%"
          />
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Charger Floor 3 on.JPG"
            style="width:100%"
          />
          <img
            src="/Users/vipanchichacham/Downloads/Cubic Swipe test raw dataset/Credit Card Door Table 3 on.JPG"
            style="width:100%"
          />
          <!-- <img src="/w3images/mountainskies.jpg" style="width:100%" />
          <img src="/w3images/rocks.jpg" style="width:100%" />
          <img src="/w3images/underwater.jpg" style="width:100%" /> -->
        </div>
      </div>
    </section>

    <!-- Two -->
    <!-- <section id="two" class="wrapper style3">
      <div class="inner">
        <div id="flexgrid">
          <div>
            <header>
              <h3>Tempus Feugiat</h3>
            </header>
            <p>
              Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia,
              magna a ullamcorper laoreet, lectus arcu
            </p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </div>
          <div>
            <header>
              <h3>Aliquam Nulla</h3>
            </header>
            <p>
              Ut convallis, sem sit amet interdum consectetuer, odio augue
              aliquam leo, nec dapibus tortor nibh sed
            </p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </div>
          <div>
            <header>
              <h3>Sed Magna</h3>
            </header>
            <p>
              Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a
              diam sit amet mi ullamcorper vehicula.
            </p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    Three -->
    <!-- <section id="three" class="wrapper style2">
      <div class="inner">
        <div class="grid-style">
          <div>
            <div class="box">
              <div class="image fit">
                <img src="images/pic02.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <h2>Lorem ipsum dolor</h2>
                  <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
                </header>
                <hr />
                <p>
                  Cras aliquet urna ut sapien tincidunt, quis malesuada elit
                  facilisis. Vestibulum sit amet tortor velit. Nam elementum
                  nibh a libero pharetra elementum. Maecenas feugiat ex purus,
                  quis volutpat lacus placerat malesuada. Praesent in sem ex.
                  Morbi mattis sapien pretium tellus venenatis, at egestas urna
                  ornare.
                </p>
              </div>
            </div>
          </div>

          <div>
            <div class="box">
              <div class="image fit">
                <img src="images/pic03.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <h2>Vestibulum sit amet</h2>
                  <p>mattis sapien pretium tellus venenatis</p>
                </header>
                <hr />
                <p>
                  Cras aliquet urna ut sapien tincidunt, quis malesuada elit
                  facilisis. Vestibulum sit amet tortor velit. Nam elementum
                  nibh a libero pharetra elementum. Maecenas feugiat ex purus,
                  quis volutpat lacus placerat malesuada. Praesent in sem ex.
                  Morbi mattis sapien pretium tellus venenatis, at egestas urna
                  ornare.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    Four
    <section id="four" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2>Morbi interdum mollis sapien</h2>
          <p>
            Cras aliquet urna ut sapien tincidunt, quis malesuada elit
            facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a
            libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat
            lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien
            pretium tellus venenatis, at egestas urna ornare.
          </p>
        </header>
      </div>
    </section> -->

    <!-- Footer -->
    <!-- <footer id="footer" class="wrapper">
      <div class="inner">
        <section>
          <div class="box">
            <div class="content">
              <h2 class="align-center">Get in Touch</h2>
              <hr />
              <form action="#" method="post">
                <div class="field half first">
                  <label for="name">Name</label>
                  <input name="name" id="name" type="text" placeholder="Name" />
                </div>
                <div class="field half">
                  <label for="email">Email</label>
                  <input
                    name="email"
                    id="email"
                    type="email"
                    placeholder="Email"
                  />
                </div>
                <div class="field">
                  <label for="dept">Department</label>
                  <div class="select-wrapper">
                    <select name="dept" id="dept">
                      <option value="">- Category -</option>
                      <option value="1">Manufacturing</option>
                      <option value="1">Shipping</option>
                      <option value="1">Administration</option>
                      <option value="1">Human Resources</option>
                    </select>
                  </div>
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea
                    name="message"
                    id="message"
                    rows="6"
                    placeholder="Message"
                  ></textarea>
                </div>
                <ul class="actions align-center">
                  <li>
                    <input
                      value="Send Message"
                      class="button special"
                      type="submit"
                    />
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </section>
        <div class="copyright">
          &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>.
          Images <a href="https://unsplash.com/">Unsplash</a>. Video
          <a href="http://coverr.co/">Coverr</a>.
        </div>
      </div>
    </footer>
 -->
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      // Get the elements with class="column"
      var elements = document.getElementsByClassName("column");

      // Declare a loop variable
      var i;

      // Full-width images
      function one() {
        for (i = 0; i < elements.length; i++) {
          elements[i].style.msFlex = "100%"; // IE10
          elements[i].style.flex = "100%";
        }
      }

      // Two images side by side
      function two() {
        for (i = 0; i < elements.length; i++) {
          elements[i].style.msFlex = "50%"; // IE10
          elements[i].style.flex = "50%";
        }
      }

      // Four images side by side
      function four() {
        for (i = 0; i < elements.length; i++) {
          elements[i].style.msFlex = "25%"; // IE10
          elements[i].style.flex = "25%";
        }
      }

      // Add active class to the current button (highlight it)
      var header = document.getElementById("myHeader");
      var btns = header.getElementsByClassName("btn");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }
    </script>

    <script>
      $("#videolink").magnificPopup({
        type: "inline",
        midClick: true
      });
    </script>
  </body>
</html>
