{% extends "layout.html" %}
{% block content %}
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    	<div class="content-section">
	    <header class="align-center">
	            <h2>Track your data</h2>
	            <p>Please upload your video and mark the timelines</p>
	            <form action="/upload" method="post" enctype="multipart/form-data">
	                <input type="file" name="file" class="btn" /><br /><br />
	                <input type="submit" value="Upload" class="btn btn-primary" />
	            </form>
	    </header>
		</div>
    </div>
    <div class="col-md-3"></div>
	</div>
{% endblock content %}
